[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mlflow = "*"
scikit-learn = "==1.1.0"
psutil = "*"

[dev-packages]
pytest = "*"
deepdiff = "*"

[requires]
python_version = "3.9"
